*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Martel Sans', sans-serif;
}
.container{
    max-width: 1700px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}
.navbar-logo{
    width: 184px;
    height: 24px;
    padding: 0px;
}
.navbar-menu{
    display: flex;
    column-gap: 45px;
    list-style: none;
    align-items: center;
}
.navbar-menu a{
    display: flex;
    color: #9093A6;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}
.navbar-menu img {
    margin-right: 5px;
}
.list-menu{
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0px 0px 50px 15px rgba(66, 66, 66, 0.2);
    margin-right: 0px; 
}
.header-hr{
    height: 1px;
    background-color: #D4D7E5;
    border: 0px;
    width: auto;
}
.main{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.main-img{
    position: relative;
    margin-left: 300px;
    
}
.main-img__item_1{
    position: absolute;
    top: 430px;
    left: -120px;
}
.main-img__item_2{
    width: 700px;
    height: 700px;
}
.main-img__item_3{
    position: absolute;
    top: 640px;
    left: 550px;
}
.main-img__item_4{
    width: 180px;
    position: absolute;
    top: 710px;
    left: 500px;
}
.main-text{
    max-width: 540px;
}
.main-text__title{
    margin-top: 120px;
    margin-left: 100px;
    margin-bottom: 88px;
    color: var(--gray-dark, #3F4255);
    font-size: 50px;
    font-weight: 300;
    line-height: 64px; /* 110.345% */
    letter-spacing: 2.9px;
}
.main-text__title_subtitle{
    display: flex;
}
.main-text__item-1{
    margin-left: 100px;
    padding: 16px 24px;
    border-radius: 4px;
    border: 2px solid var(--brand-yellow-bright, #FFE145);
    width: 118px;
    height: 72px;
    text-align: center;
}
.main-text__item-2{
    margin-left: 24px;
    padding: 16px 24px;
    border-radius: 4px;
    border: 2px solid var(--brand-yellow-bright, #FFE145);
    width: 123px;
    height: 72px;
    text-align: center;
}
.main-text__item-1 p{
    color: var(--gray-dark, #3F4255);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--gray-dark, #3F4255);
}
.main-text__item-2 p{
    color: var(--gray-dark, #3F4255);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--gray-dark, #3F4255);
}
.main-text__item-1 span{
    color: var(--gray-dark, #3F4255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;
}
.main-text__item-2 span{
    color: var(--gray-dark, #3F4255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;
}
.main-items{
    display: flex;
    box-shadow: 0px 0px 40px 15px rgba(66, 66, 66, 0.2);
    width: 872px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.main-item-1{
    display: flex;
    align-items: center;
    margin-left: 90px;
}
.main-item-1 p{
    width: 185px;
    margin-left: 15px;
    margin-right: 46px;
}
.main-item-2{
    display: flex;
    align-items: center;
}
.main-item-2 p{
    width: 124px;
    margin-left: 15px;
    margin-right: 40px;
}
.main-item-3{
    display: flex;
    align-items: center;
}
.main-item-3 p{
    width: 202px;
    margin-left: 15px;
    padding: 28px;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 40px;
}
.title h2{
    color: var(--gray-dark, #3F4255);
    font-size: 36px;
    font-weight: 300;
    line-height: 64px; 
    letter-spacing: 2.88px;
}
.title a{
    display: flex;
    padding: 16px 24px;
    border-radius: 4px;
    background: var(--gray-bg, #F2F4FA);
    color: var(--gray-second-text, #9093A6);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;
    text-decoration: none;
    align-items: center;
}
.list{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}
.list img{
    transform: scale(1);
    transition: .5s
}
.list-img{
    position: relative;
}
.list-img-1{
    position: relative;
}
.list img:hover{
    transform: scale(1.2);
    transition: .5s
}
.btn{
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 25px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}
.btn_left{
    top: 120px;
    left: -8px  ;
    z-index: 1;
}
.header-btn_right{
    transform: rotate(180deg);
    position: absolute;
    top: 180px;
    right: -8px;
}

.bg-purple{
    background-color: #F2F4FA;
}
.restaurant_seacrh__text{
    display: flex;
    justify-content: space-between;
}
.restaurant_seacrh__text-title{
    padding-left: 170px;
}
.restaurant_seacrh__text-title h2{
    color: var(--gray-dark, #3F4255);
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px; /* 177.778% */
    letter-spacing: 2.88px;
    padding-top: 80px;
    padding-bottom: 24px;
}
.restaurant_seacrh__text-title p{
    display: flex;
    color: var(--gray-dark, #3F4255);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    width: 390px;
    padding-bottom: 80px;
}
.inp_send{
    display: flex;
    align-items: center;
    position: relative;
}
.inp_send input{
    border: 0px;
    padding: 24px 16px 24px 35px;
    width: 230px;
    margin-right: 5px;
    border-radius: 5px;
    color:  #9093A6;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 1px;
}
.inp_send a{
    padding: 25px 18px;
    background-color: #FFE145;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 160px;
    border-radius: 4px;
    color: var(--brand-yellow-dark, #B79C10);
    text-align: center;
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;
}
.inp_send img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
}
.list-food-items{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    margin-bottom: 72px;
}
.list-food__item{
    width: 136px;
    height: 136px;
    padding: 24px 24px;
    border-radius: 6px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 16px 0px rgba(60, 62, 74, 0.08);
}
.list-food__item-img{
    display: flex;
    justify-content: center;
}
.list-food__item-img img{
   padding-bottom: 10px;
}
.list-food__item p{
    text-align: center;
    color: var(--text-dark, #313030);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}
.list-food__item-img__1{
    position: relative;
}
.list-food__item-img__2{
    position: relative;
}
.list-btn_left{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: -40px;
    transition: .5s
}
.btn_right{
    transform: rotate(180deg);
    top: 30px;
    left: 90px;
    width: 40px;
    height: 40px;
}
.bg-img-limon{
    width: 100%;
    height: 320px;
}
.circle-list{
    position: relative;
    display: flex;
}
.circle-list__item-1{
    position:absolute;
    left: 400px;
    bottom: 70px;
}
.circle-list__item-1 span{
    color: var(--gray-dark, #3F4255);
    font-family: Open Sans Condensed;
    font-size: 58px;
    font-weight: 700;
    line-height: 64px; /* 110.345% */
    letter-spacing: 2.9px;
    position: absolute;
    top: 30px;
    right: 48px;
}
.circle-list__item-1 p{
    color: var(--gray-dark, #3F4255);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.circle-list__item-2{
    position:absolute;
    left: 650px;
    bottom: 70px;
}
.circle-list__item-2 span{
    color: var(--gray-dark, #3F4255);
    font-family: Open Sans Condensed;
    font-size: 58px;
    font-weight: 700;
    line-height: 64px; /* 110.345% */
    letter-spacing: 2.9px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.circle-list__item-2 p{
    color: var(--gray-dark, #3F4255);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.circle-list__item-3{
    position:absolute;
    left: 900px;
    bottom: 70px;
}
.circle-list__item-3 span{
    color: var(--gray-dark, #3F4255);
    font-family: Open Sans Condensed;
    font-size: 58px;
    font-weight: 700;
    line-height: 64px; /* 110.345% */
    letter-spacing: 2.9px;
    position: absolute;
    top: 30px;
    right: 37px;
}
.circle-list__item-3 p{
    color: var(--gray-dark, #3F4255);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}

.circle-list__item-4{
    position:absolute;
    left: 1150px;
    bottom: 70px;
}
.circle-list__item-4 img{
    margin-left: 15px;
}
.circle-list__item-4 span{
    color: var(--gray-dark, #3F4255);
    font-family: Open Sans Condensed;
    font-size: 58px;
    font-weight: 700;
    line-height: 64px; /* 110.345% */
    letter-spacing: 2.9px;
    position: absolute;
    top: 30px;
    right: 83px;
}
.circle-list__item-4 p{
    color: var(--gray-dark, #3F4255);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.map-img {
    display: flex;
    justify-content: center;
    margin:72px 0;
}
.map-img img{
    width: 1500px;
    height: auto;
}
.kithen-text {
    display: flex;
}
.kithen-text p{
    color: var(--text-dark, #313030);
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px; /* 177.778% */
    letter-spacing: 2.88px;
    margin-right: 10px;
    margin-left: 58px;
}
.kithen-text span{
    color: var(--gray-second-text, #9093A6);
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 2.88px;
}
.kitchens-img__items{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-top: 20px;
    margin-bottom: 70px;
}
.bg-gray{
    background: var(--gray-dark, #3F4255);
}
.footer-columns{
    display: flex;
    justify-content: space-around;
}
.footer-column-1-img{
    padding: 45px 0;
}
.footer-column-1 hr{
    width: 296px;
    height: 1px;
    border: 0px;
    background: var(--gray-light, #D4D7E5);
}
.app-img img {
    margin-top: 45px;
}
.app-img :last-child{
    width: 100px;
    margin-left: 5px;
}
.footer-column-2{
    margin-top: 48px;
    margin-bottom: 105px;
}
.footer-column-2 ul{
    list-style: none;
}
.footer-column-2_span{
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.footer-column-2 a{
    color: var(--gray-light, #D4D7E5);
    font-family: Martel Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;
    text-decoration: none;
}

.down{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    column-gap: 24px;
    margin-bottom: 48px;
}
.footer-privacy ul{
    display: flex;
    column-gap: 45px;
    list-style: none;
    align-items: center;
}
.footer-privacy a{
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Martel Sans;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px; /* 133.333% */
}
.burger{
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 25px;
}

.burger span{
    display: flex;
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: gray;
    
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: gray;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}